:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  /* Tetx colors */
  --main-txt-cl: #000;
  --accent-txt-cl: #ff6b08;
  --light-txt-color: #fff;
  --error-txt-color: #FF001B;
  --current-link: #FF001B;
  --footer-txt-color: #545454;
  /* Bg colors */
  --accent-bg-cl: #fff;
  --footer-bg-color: #f7f7f7;
  --blu-bg-color: #005bbb;
  --yelow-bg-color: #ffd500;
  /* Btns */
  --btn-bg-color: #ff6b01;
  --btn-dis-bg-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  color: var(--light-txt-color);
  background-color: var(--accent-bg-cl);
}

ul {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.section {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  width: 129.53px;
  height: 44px;
  background: var(--btn-bg-color);
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.btn:disabled {
  background-color: var(--btn-dis-bg-color);
  border: 1px solid #ffffff;
}

.header-bg {
  max-width: 320px;
  min-height: 216px;
  background-image: url(../images/main-bg_sm@1x.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: url(../images/main-bg_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-bg {
    max-width: 768px;
    padding-top: 40px;
    background-image: url(../images/main-bg_md@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1280px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: url(../images/main-bg_md@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-bg {
    max-width: 1280px;
    padding-top: 40px;
    background-image: url(../images/main-bg_lg@2x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: url(../images/main-bg_lg@2x.jpg);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.search-form {
  position: relative;
  text-align: center;
}

.search-field {
  width: 280px;
  font-size: 14px;
  line-height: 1.14;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid var(--light-txt-color);
  font-family: var(--main-font);
  color: var(--light-txt-color);
}
@media screen and (min-width: 768px) {
  .search-field {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-field {
    width: 394px;
  }
}
.search-field::-moz-placeholder {
  color: var(--light-txt-color);
  -moz-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.search-field:-ms-input-placeholder {
  color: var(--light-txt-color);
  -ms-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.search-field::placeholder {
  color: var(--light-txt-color);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.search-field:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-txt-cl);
}
.search-field:focus::-moz-placeholder {
  color: var(--accent-txt-cl);
}
.search-field:focus:-ms-input-placeholder {
  color: var(--accent-txt-cl);
}
.search-field:focus::placeholder {
  color: var(--accent-txt-cl);
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  border: transparent;
  color: var(--light-txt-color);
}
@media screen and (min-width: 768px) {
  .search-btn {
    right: 182px;
  }
}
@media screen and (min-width: 1280px) {
  .search-btn {
    right: 411px;
  }
}
.search-field:focus ~ .search-btn {
  color: var(--accent-txt-cl);
}

.home:focus {
  position: relative;
}
.home:focus::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--accent-txt-cl);
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--error-txt-color);
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .warning {
    margin-top: 16px;
    width: 280px;
  }
}
@media screen and (min-width: 1280px) {
  .warning {
    margin-top: 20px;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--light-txt-color);
  background-color: transparent;
  border: transparent;
  top: 40px;
  cursor: pointer;
}

.logo {
  top: 52px;
  text-decoration: none;
  color: var(--light-txt-color);
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: baseline;
  }
}

.logo__name {
  text-transform: capitalize;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: var(--light-txt-color);
}
@media screen and (max-width: 768px) {
  .logo__name {
    display: none;
  }
}

.side-nav__item--logo {
  display: flex;
  margin-left: 0;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .logo__icon {
    margin-right: 8px;
  }
}

.side-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--light-txt-color);
}
@media screen and (min-width: 768px) {
  .side-nav__list {
    margin-bottom: 40px;
  }
}

.side-nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--light-txt-color);
  background-color: transparent;
  border: transparent;
  position: relative;
  cursor: pointer;
}

.side-nav__item:not(:last-child, :first-child) {
  margin-right: 40px;
}

.link-current::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--current-link);
}

.header-button {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .header-button {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .header-button {
    margin-bottom: 60px;
  }
}

.btn-header {
  padding-top: 14px;
  padding-bottom: 12px;
  min-width: 129.53px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  grid: 19.94px;
  border: 1px solid #FFFFFF;
  background-color: var(--btn-dis-bg-color);
  color: var(--light-txt-color);
  cursor: pointer;
}
.btn-header:not(:last-child) {
  margin-right: 19.94px;
}
@media screen and (min-width: 768px) {
  .btn-header {
    min-width: 152px;
  }
  .btn-header:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-header {
    min-width: 148px;
  }
  .btn-header:not(:last-child) {
    margin-right: 16px;
  }
}

.is-active-btn {
  background-color: var(--btn-bg-color);
  border: none;
}

.film-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .film-card__list {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__list {
    row-gap: 32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.film-card__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .film-card__item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .film-card__item {
    width: calc((100% - 32px) / 3);
  }
}
.film-card__poster {
  display: block;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .film-card__poster {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__poster {
    height: 574px;
  }
}
.film-card__content {
  min-height: 42px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .film-card__content {
    min-height: 40px;
    padding-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__content {
    min-height: 60px;
    padding-top: 12px;
  }
}
.film-card__title {
  font-size: 12px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .film-card__title {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film-card__genre {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.3333333333;
  color: #ff6b08;
}
@media screen and (min-width: 1280px) {
  .film-card__genre {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film-card__release-date {
  margin-left: 5px;
  margin-right: 9px;
  border-left: 1px #ff6b08 solid;
  padding-left: 5px;
}
@media screen and (min-width: 768px) {
  .film-card__release-date {
    margin-right: 8px;
  }
}
.film-card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #ffffff;
  background-color: #ff6b01;
  border-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .film-card__rating {
    width: 40px;
    height: 20px;
  }
}
.film-card__list.main-page .film-card__rating {
  display: none;
}

.pages {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  color: var(--main-txt-cl);
}

.backdrop-card {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-card.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-card {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%) scale(1);
  width: 280px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.backdrop-card.is-hidden .modal-card {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 768px) {
  .modal-card {
    width: 704px;
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-card {
    width: 806px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (max-height: 1000px) and (max-width: 768px) {
  .modal-card {
    top: 53%;
  }
}
@media screen and (max-height: 900px) and (max-width: 768px) {
  .modal-card {
    top: 63%;
  }
}
@media screen and (max-height: 765px) and (max-width: 768px) {
  .modal-card {
    top: 73%;
  }
}
@media screen and (max-height: 665px) and (max-width: 768px) {
  .modal-card {
    top: 80%;
  }
}
@media screen and (max-height: 580px) and (max-width: 768px) {
  .modal-card {
    top: 90%;
  }
}

.modal-card__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-card__close-btn-img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .modal-card__content {
    display: flex;
    gap: 68px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-card__content {
    gap: 16px;
  }
}

.modal-card__poster {
  border-radius: 5px;
  min-width: 240px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .modal-card__poster {
    min-width: 264px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-card__poster {
    display: inline-flex;
    justify-content: center;
    min-width: 375px;
    height: 478px;
  }
  .modal-card__poster img {
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.modal-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .modal-card__title {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal-card__info {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: baseline;
}

.modal-card__info-title-items,
.modal-card__info-text-items {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.modal-card__info-title-items:not(:last-child),
.modal-card__info-text-items:not(:last-child) {
  margin-bottom: 8px;
}
.modal-card__info-title-items div,
.modal-card__info-text-items div {
  background: #ff6b01;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  margin-right: 2px;
  text-align: center;
  color: #ffffff;
}

.modal-card__info-title-items {
  color: #8c8c8c;
}

.modal-card__info-text-items {
  color: #000000;
}
.modal-card__info-text-items:first-child {
  display: flex;
}

.modal-card__about-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #000000;
}

.modal-card__about-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.modal-card__buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .modal-card__buttons {
    justify-content: flex-start;
    gap: 15px;
  }
}

.modal-card__watch-btn,
.modal-card__queue-btn {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
}
.modal-card__watch-btn:hover,
.modal-card__watch-btn :focus,
.modal-card__queue-btn:hover,
.modal-card__queue-btn :focus {
  background-color: #ff6b01;
  border: none;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-card__watch-btn:active,
.modal-card__queue-btn:active {
  background-color: #bb4f03;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-card__watch-btn,
.modal-card__queue-btn {
    width: 125px;
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-card__watch-btn,
.modal-card__queue-btn {
    width: 136px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer {
  background-color: var(--footer-bg-color);
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  scroll-behavior: smooth;
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding-top: 23px;
    padding-bottom: 35px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    gap: 0;
  }
}
.footer__item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--footer-txt-color);
}
@media screen and (min-width: 768px) {
  .footer__item {
    font-size: 16px;
    line-height: 19px;
  }
}
.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}
.footer__btn {
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--footer-txt-color);
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}
@media screen and (min-width: 768px) {
  .footer__btn {
    font-size: 16px;
    line-height: 19px;
  }
}

.is-hidden {
  display: none;
}

.team {
  color: var(--footer-txt-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  color: var(--accent-bg-cl);
}
@media screen and (min-width: 768px) {
  .team__title {
    font-size: 36px;
  }
}
.team__desctiption {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
  color: var(--footer-txt-color);
}
@media screen and (min-width: 1200px) {
  .team__desctiption {
    font-size: 22px;
    margin-bottom: 50px;
  }
}
.team__member {
  color: var(--light-txt-color);
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .team__list {
    gap: 50px;
  }
}
.team__img {
  min-width: 85px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: grey;
  opacity: 0.8;
}

.modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  min-width: 250px;
  background: var(--main-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-bottom: 40px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  fill: var(--yelow-bg-color);
  padding: 10px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  fill: var(--blu-bg-color);
}/*# sourceMappingURL=index.css.map */