:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;

  /* Tetx colors */
  --main-txt-cl: #000;
  --accent-txt-cl:#FF6B08;
  --light-txt-color: #fff;
  --error-txt-color: #FF001B;
  --current-link: #FF001B;

  /* Bg colors */
  --accent-bg-cl: #E5E5E5;

   /* Btns */
 --btn-bg-color:#FF6B01;
 --btn-dis-bg-color: transparent;
}
