<div class="backdrop-card is-hidden" data-modal-card>
    <div class="modal-card">
        <button class="modal-card__close-btn" type="button" data-modal-close-card>
            <img src="./images/close-card-modal.svg" class="modal-card__close-btn-img" alt="Close">
        </button>
        <div class="modal-card__content">
            <div class="modal-card__poster">
                <img src="./images/poster-modal.jpg" alt="">
            </div>
            <div class="modal-card__text">
                <h2 class="modal-card__title">A FISTFUL OF LEAD</h2>
                <div class="modal-card__info">
                    <ul class="modal-card__info-title-list">
                        <li class="modal-card__info-title-items">Vote / Votes</li>
                        <li class="modal-card__info-title-items">Popularity</li>
                        <li class="modal-card__info-title-items">Original Title</li>
                        <li class="modal-card__info-title-items">Genre</li>
                    </ul>
                    <ul class="modal-card__info-text-list">
                        <li class="modal-card__info-text-items">
                            <div>7.3</div>
                            <p>/ 1260</p>
                        </li>
                        <li class="modal-card__info-text-items">100.2</li>
                        <li class="modal-card__info-text-items">A FISTFUL OF LEAD</li>
                        <li class="modal-card__info-text-items">Western</li>
                    </ul>
                </div>
                <h3 class="modal-card__about-title">About</h3>
                <p class="modal-card__about-descr">Four of the West’s most infamous outlaws assemble to steal a huge
                    stash of gold from the most corrupt settlement of the
                    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of
                    gold hide out in the
                    abandoned gold mine where they happen across another gang of three – who themselves were planning to
                    hit the very same
                    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with
                    lead... they’ve
                    been double crossed – but by who and how?</p>
                <div class="modal-card__buttons">
                    <button class="modal-card__watch-btn">add to Watched</button>
                    <button class="modal-card__queue-btn">add to queue</button>
                </div>
            </div>
        </div>
    </div>
</div>