<header class="header-section  header-bg">
    
        <div class="container" id="header">
          <nav class="navigation">
            <h1 hidden>Filmoteka</h1>
            <ul class="side-nav__list">
                <li class="side-nav__item--logo"> 

                <!-- <button type="button" class="navigation__logo" id="navigation-logo">
                    <img src="./images/film.svg"
                    class="logo__icon" width="24" height="24"/>
                  <span class="logo__name">Filmoteka</span>
                </button> -->
              
                <a href="#" class="navigation__logo" id="navigation-logo">
                    <img src="/src/images/film.svg"
                    class="logo__icon" width="24" height="24"
                    alt="logo-img"/>
                    <span class="logo__name">Filmoteka</span>
                </a>
                </li> 
              <li class="side-nav__item">
                <a 
                    href="#" 
                    class="side-nav__link link-current"><span>HOME</span></a> 

                <!-- <button
                  type="button"
                  class="side-nav__link link-current"
                >
                  HOME
                </button> -->
                
              </li>
              <li class="side-nav__item">
                <a 
                    href="/src/library.html" 
                    class="side-nav__link"><span>MY LIBRARY</span></a>
              </li>
            </ul>
          </nav>
      
          <form class="search-form" id="home-page">
            <input
              type="text"
              name="query"
              placeholder="Movie search..."
              class="search-field"
            />
            <button type="submit" class="search-btn">
                <img src="./images/search.svg"
                alt="search-icon"
                class="search-icon" width="12" height="12"/>
            </button>
          </form>
          <p class="warning is-hidden">
            Search result not successful. Enter the correct movie name
          </p>
         
        </div>
      </header>



