<footer class="footer">
  <div class="footer__container">
    <ul class="footer__list">
      <li class="footer__item">© 2020 | All Rights Reserved |</li>
      <li class="footer__item fee">
        Developed with
        <svg class="footer__icon" width="14" height="13">
          <use href="./images/symbol-defs.svg#icon-favorite"></use>
        </svg>
        by
        <button class="footer__btn" id="footer-modal-btn">GoIT Students</button>
      </li>
    </ul>
  </div>
  <div class="team modal">
    <div class="team__container">
      <h2 class="team__title">Our Team</h2>
      <p class="team__desctiption">Teamwork makes the dream work</p>
      <ul class="team__list">
        <li class="team__item">
          <img
            src=""
            alt=""
            class="team__img"
            width="450"
            height="460"
            loading="lazy"
          />
          <div class="team__description">
            <h3 class="team__member">Ryzha Olha</h3>
            <p class="team__position">Team Lead, Developer</p>
          </div>
        </li>
        <li class="team__item">
          <img
            src=""
            alt=""
            class="team__img"
            width="450"
            height="460"
            loading="lazy"
          />
          <div class="team__description">
            <h3 class="team__member">Semeniuk Anna</h3>
            <p class="team__position">Scrum Master, Developer</p>
          </div>
        </li>
        <li class="team__item">
          <img
            src=""
            alt=""
            class="team__img"
            width="450"
            height="460"
            loading="lazy"
          />
          <div class="team__description">
            <h3 class="team__member">Hryshchenko Daria</h3>
            <p class="team__position">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <img
            src=""
            alt=""
            class="team__img"
            width="450"
            height="460"
            loading="lazy"
          />
          <div class="team__description">
            <h3 class="team__member">Honchar Ella</h3>
            <p class="team__position">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <img
            src=""
            alt=""
            class="team__img"
            width="450"
            height="460"
            loading="lazy"
          />
          <div class="team__description">
            <h3 class="team__member">Koptylova Anastasia</h3>
            <p class="team__position">Developer</p>
          </div>
        </li>
        <li class="team__item">
          <img
            src=""
            alt=""
            class="team__img"
            width="450"
            height="460"
            loading="lazy"
          />
          <div class="team__description">
            <h3 class="team__member">Pomeshkina Iryna</h3>
            <p class="team__position">Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
